body {
    background-color: #C4C4C4;

}

.colorPrimario{
    background-color: #2E3440;
}

.colorFuente{
    color: #FDB813;
    text-decoration: none;
}
.justificar{
    text-align: justify;
}
.colorEnlace{
    color: rgb(43, 17, 211);
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.fondo{
    background-color: #C4C4C4;
}